In [1]:
!pip install ipython-sql
!pip install sqlalchemy pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/nata/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.0)
Requirement already satisfied: decorator in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: pexpect>4.3 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/nata/Library/Python/3.9/lib/python/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/nata/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /Users/nata/Library/Python/3.9/lib/python/site-packages (2.0.34)
Requirement already satisfied: pandas in /Users/nata/Library/Python/3.9/lib/python/site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (3.1.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/nata/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [9]:
# Подключение к SQLite базе данных (файл базы данных создается автоматически, если его нет)
%load_ext sql
%sql sqlite:////Users/nata/tourism.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%%sql
CREATE TABLE TourismTours (
    TourID INTEGER PRIMARY KEY AUTOINCREMENT,  -- Поле с автоинкрементом
    TourName VARCHAR(100) NOT NULL,
    Destination VARCHAR(100) NOT NULL,
    DurationDays INT NOT NULL,
    Price DECIMAL(10, 2) NOT NULL,
    StartDate DATE NOT NULL,
    GuideName VARCHAR(100)
);

 * sqlite:////Users/nata/tourism.db
Done.

[]

In [12]:
%%sql
INSERT INTO TourismTours (TourName, Destination, DurationDays, Price, StartDate, GuideName)
VALUES 
('Beach Adventure', 'Australia', 7, 1500.00, '2024-01-10', 'John Doe'),
('Mountain Trek', 'Nepal', 14, 2500.00, '2024-02-15', 'Jane Smith'),
('City Tour', 'France', 5, 1000.00, '2024-03-20', 'Emily Brown');

 * sqlite:////Users/nata/tourism.db
3 rows affected.

[]

In [13]:
%%sql
SELECT * FROM TourismTours;

 * sqlite:////Users/nata/tourism.db
Done.

[(1, 'Beach Adventure', 'Australia', 7, 1500, '2024-01-10', 'John Doe'),
 (2, 'Mountain Trek', 'Nepal', 14, 2500, '2024-02-15', 'Jane Smith'),
 (3, 'City Tour', 'France', 5, 1000, '2024-03-20', 'Emily Brown')]